<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Félicitations</title>
</head>
<body>
  <h1>Félicitations!</h1>
  <p><strong><%= message %></strong></p>
  <% if (newGameRedirect) { %>
    <form action="/new-game" method="POST">
      <button type="submit">Nouvelle Partie</button>
    </form>
  <% } else { %>
    <form action="/" method="GET">
      <button type="submit">Accueil</button>
    </form>
  <% } %>
</body>
</html>
