<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jeu de Morpion</title>
  <style>
    table {
      border-collapse: collapse;
    }
    td {
      width: 50px;
      height: 50px;
      border: 1px solid black;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Jeu de Morpion</h1>
  <p>Joueur courant : <%= currentPlayer %></p>
  <form action="/submit" method="POST">
    <table>
      <% for (let i = 0; i < boardState.length; i++) { %>
        <tr>
          <% for (let j = 0; j < boardState[i].length; j++) { %>
            <td>
              <% if (boardState[i][j] === '') { %>
                <input type="radio" name="cell" value="<%= i + '-' + j %>" id="<%= 'checkbox-' + i + '-' + j %>" />
              <% } else { %>
                <%= boardState[i][j] %>
              <% } %>
            </td>
          <% } %>
        </tr>
      <% } %>
    </table>
    <button type="submit">Envoyer</button>
  </form>
</body>
</html>

